/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-16 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 27px;
  height: 27px;
}
.icon-17 {
  background-image: url(sprite.png);
  background-position: -27px 0px;
  width: 27px;
  height: 27px;
}
.icon-18 {
  background-image: url(sprite.png);
  background-position: 0px -27px;
  width: 27px;
  height: 27px;
}
.icon-19 {
  background-image: url(sprite.png);
  background-position: -27px -27px;
  width: 27px;
  height: 27px;
}
.icon-20 {
  background-image: url(sprite.png);
  background-position: -54px 0px;
  width: 27px;
  height: 27px;
}
.icon-21 {
  background-image: url(sprite.png);
  background-position: -54px -27px;
  width: 27px;
  height: 27px;
}
.icon-22 {
  background-image: url(sprite.png);
  background-position: 0px -54px;
  width: 27px;
  height: 27px;
}
.icon-23 {
  background-image: url(sprite.png);
  background-position: -27px -54px;
  width: 27px;
  height: 27px;
}
.icon-24 {
  background-image: url(sprite.png);
  background-position: -54px -54px;
  width: 27px;
  height: 27px;
}
.icon-25 {
  background-image: url(sprite.png);
  background-position: -81px 0px;
  width: 27px;
  height: 27px;
}
