@import url('../fonts/arctika_script.css');
@import url('../fonts/akrobat-regular.css');
@import url('../fonts/corbel.css');
@import url('header.css');
@import url('banner.css');
@import url('stock.css');
@import url('groups.css');
@import url('subscribe.css');
@import url('footer.css');

body {
  background:  #fff url('../image/back_book.png');
  background-size: contain;
  background-repeat: repeat-y;
}